<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musala.atmosphere.ime"
    android:versionCode="16"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" >
    </uses-sdk>

    <application
        android:icon="@drawable/validator_logo"
        android:label="@string/app_name" >
        <service
            android:name="com.musala.atmosphere.ime.AtmosphereIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.musala.atmosphere.ime.AtmosphereIMESettings"
            android:label="@string/preference_screen_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>